<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height: auto;">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf页面模板组件</title>
</head>
<body>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark" th:fragment="rightSidebar">
    <!-- Control sidebar content goes here -->
    <div class="p-3 control-sidebar-content"><h5>我的账户</h5>
        <hr class="mb-2">
        <div class="mb-1"><span class="fa fa-shopping-cart"></span>&nbsp;购物车</div>
        <div class="mb-1"><span class="fa fa-list-ol"></span>&nbsp;我的订单</div>
        <div class="mb-1">个人资料</div>
        <div class="mb-1"><a href="javascript:;"><span>[工作台]</span></a></div>
        <div class="mb-1">更换手机号</div>
        <div class="mb-1"><a href="/logout">[注销]</a></div>
    </div>
</aside>
<!-- /.control-sidebar -->

</body>
</html>